interface Port-Channel1
   no switchport
   no port-channel min-links
!
interface Ethernet2
   no channel-group 1 mode active
!
interface Ethernet3
   no channel-group 1 mode active
!
interface Ethernet4
   no channel-group 1 mode active
!
interface Ethernet5
   no channel-group 1 mode active
!
no ip routing
!
end
