interface Ethernet1
   no switchport
   ip address 11.1.1.1/24
   isis enable arista
   isis circuit-type level-1
   isis network point-to-point
!
interface Port-Channel1
   no switchport
   port-channel min-links 4
   isis enable arista
   isis circuit-type level-1
   isis network point-to-point
!
interface Ethernet2-9
   channel-group 1 mode active
   lacp timer fast
!
router bgp 65200
   neighbor 11.1.1.2 remote-as 65100
   neighbor 21.1.1.2 remote-as 65300
   timers bgp 5 15
!
router isis arista
   net 49.0001.1010.1050.1040.00
   is-type level-1
   !
   address-family ipv4 unicast
!
ip routing
!