interface Ethernet2
   no ip address
   no isis enable arista
   no isis circuit-type level-2
   no isis network point-to-point

interface Port-Channel1
   no switchport
   no port-channel min-links
   no ip address
   no isis enable arista
   no isis circuit-type level-2
   no isis network point-to-point
!
interface Ethernet2-9
   no channel-group 1 mode active
!
no router bgp 65200
!
no ip routing
!
no router isis arista
!
end